:root {
  --clr-primary: hsl(25, 97%, 53%);
  --clr-secondary: hsl(213, 19%, 18%);
  --clr-secondary-dark: hsl(216, 12%, 8%);
  --clr-grey: hsl(217, 12%, 63%);
  --clr-grey-dark: hsl(216, 12%, 54%);
  --clr-white: hsl(0 0% 100%);

  --fs-300: 0.875rem; /* 14px */
  --fs-400: 0.9375rem; /* 15px */
  --fs-500: 1rem; /* 16px */
  --fs-600: 1.5rem; /* 24px */
  --fs-700: 1.75rem; /* 28px */

  --fs-title: var(--fs-700);
  --fs-body: var(--fs-400);
  --fs-scores: var(--fs-500);
  --fs-button: var(--fs-400);

  --card-radius: 30px;

  --card-space: 32px;

  --logo-height: 16px;
  --logo-width: 16.75px;
  --logo-box-dimensions: 48px;

  --image-height: 108px;
  --image-width: 162px;

  --score-box-dimension: 51px;

  --button-padding: 13px;
}

/*=============
    RESETS
    =============*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font: inherit;
  list-style: none;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*=============
    GENERAL
    =============*/

body {
  font-family: "Overpass", sans-serif;
  font-size: var(--fs-body);
  color: var(--clr-grey);
  background: var(--clr-secondary-dark);
  display: grid;
  place-items: center;
  line-height: 1.5rem;
}

.button {
  width: 100%;
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-white);
  font-weight: 700;
  line-height: 1.26;
  padding-top: var(--button-padding);
  padding-bottom: var(--button-padding);
  border-radius: 22.5px;
  margin-top: 2rem;
  font-size: var(--fs-button);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: var(--clr-white);
  color: var(--clr-primary);
}

/*=============
    STYLES
    =============*/

.card {
  border-radius: var(--card-radius);
  width: min(412px, calc(100% - 48px));
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  padding: var(--card-space);
}

/*=============
    RATING
    =============*/

.logo-box {
  height: var(--logo-box-dimensions);
  width: var(--logo-box-dimensions);
  background: var(--clr-secondary);
  display: grid;
  place-items: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.logo {
  height: var(--logo-height);
  width: var(--logo-width);
}

.title {
  font-size: var(--fs-title);
  color: var(--clr-white);
  line-height: 1.26;
  font-weight: 700;
  margin-bottom: 7px;
}

.body {
  font-size: var(--fs-body);
  margin-bottom: 24px;
}

.scores {
  display: flex;
  justify-content: space-between;
}

.score {
  height: var(--score-box-dimension);
  width: var(--score-box-dimension);
  background-color: var(--clr-secondary);
  border-radius: 50%;
  font-size: var(--fs-scores);
  display: grid;
  place-items: center;
  transition: 0.3s;
}

.score:hover {
  background-color: var(--clr-grey);
  color: var(--clr-white);
  cursor: pointer;
}

.score.clicked {
  background-color: var(--clr-primary);
  color: var(--clr-white);
}

/*=============
    THANKS
    =============*/

.thank-you {
  text-align: center;
}

.image-thanks {
  height: var(--image-height);
  width: var(--image-width);
  margin-inline: auto;
}

.thank-you .title {
  margin-top: 32px;
  margin-bottom: 7px;
}

.info {
  margin: 32px auto;
  border-radius: 22.5px;
  width: fit-content;
  padding: 4px 20px;
  background: var(--clr-secondary);
  color: var(--clr-primary);
}

.hidden {
  display: none;
}

/* 512px ==> MOBILES */
@media (max-width: 32em) {
  :root {
    --fs-title: var(--fs-600);
    --fs-body: var(--fs-300);
    --fs-scores: var(--fs-300);
    --fs-button: var(--fs-300);

    --card-radius: 15px;

    --card-space: 24px;

    --logo-height: 13.33px;
    --logo-width: 13.96px;
    --logo-box-dimensions: 40px;

    --score-box-dimension: 42px;

    --button-padding: 12px;

    --image-height: 96px;
    --image-width: 144px;
  }

  body {
    line-height: 1.375rem;
  }

  .button {
    margin-top: 1.5rem;
  }

  .card {
    padding-bottom: 32px;
  }

  .logo-box {
    margin-bottom: 16px;
  }

  .title {
    margin-bottom: 10px;
  }

  .info {
    margin: 24px auto;
    padding: 5px 12px;
  }

  .thank-you .title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .card {
    padding: 0;
  }

  .thank-you {
    padding: 34px 24px 37px;
  }

  .thank-you .body {
    margin: 0;
  }
}
